In [265]:
import pandas as pd
import numpy as np

In [266]:
info_tag_raw = pd.read_csv('./Category_Gusuk_Review.csv',encoding='cp949')
info_tag = info_tag_raw.copy()
info_tag = info_tag[['Attraction', 'Category', 'Subclass', 'Address', 'Participants']]
info_tag[:2]

  Attraction Category Subclass                   Address Participants
0  동대문역사문화공원       관광  도시,테마공원          서울특별시 중구 신당동 853           56
1      서울식물원       관광  식물원,수목원  서울특별시 강서구 마곡동로 161 서울식물원        5,204

In [267]:
review_raw = pd.read_csv('./Naver_Final.csv',encoding='cp949')
review = review_raw .copy()
review[:2]

  Attraction   Good_Point  Selected_People
0  동대문역사문화공원       뷰가 좋아요               22
1  동대문역사문화공원  관리가 잘 되어있어요               21

In [268]:
# info_tag와 review 데이터 프레임 합치기
all_category_info = pd.merge(info_tag, review, on='Attraction')
all_category_info[:2]

,Attraction,Category,Subclass,Address,Participants,Good_Point,Selected_People
0,동대문역사문화공원,관광,"도시,테마공원",서울특별시 중구 신당동 853,56,뷰가 좋아요,22
1,동대문역사문화공원,관광,"도시,테마공원",서울특별시 중구 신당동 853,56,관리가 잘 되어있어요,21

In [269]:
# 구에 대한 정보를 포함한 새 컬럼 만들기
all_category_info['Gu'] = all_category_info['Address'].str.split(' ').str[1]
all_category_info = all_category_info[['Attraction', 'Category', 'Subclass', 'Address','Gu',
                     'Good_Point', 'Selected_People', 'Participants']]
all_category_info[:2]

,Attraction,Category,Subclass,Address,Gu,Good_Point,Selected_People,Participants
0,동대문역사문화공원,관광,"도시,테마공원",서울특별시 중구 신당동 853,중구,뷰가 좋아요,22,56
1,동대문역사문화공원,관광,"도시,테마공원",서울특별시 중구 신당동 853,중구,관리가 잘 되어있어요,21,56

In [270]:
all_category_info['Subclass'] = all_category_info['Subclass'].str.replace(' ', '')
all_category_info['Participants'] = all_category_info['Participants'].str.replace(',', '').astype('float')

In [271]:
all_category_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17474 entries, 0 to 17473
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction       17474 non-null  object
 1   Category         17474 non-null  object
 2   Subclass         17474 non-null  object
 3   Address          17474 non-null  object
 4   Gu               17474 non-null  object
 5   Good_Point       17474 non-null  object
 6   Selected_People  17474 non-null  int64
 7   Participants     17474 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ MB

In [272]:
# 관광 354개
condition = (all_category_info['Category'] == '관광')
all_tourism_info = all_category_info[condition]

print(all_tourism_info['Subclass'].nunique())
print()
print(all_tourism_info['Subclass'].unique())

83

['도시,테마공원' '식물원,수목원' '전망대' '숲,숲길' '궁궐' '테마파크' '세계문화유산' '자연,생태공원' '시장'
 '지역명소' '근린공원' '박물관' '기념물' '쇼핑복합시설' '호수,연못,저수지' '강,하천' '체험마을' '도보코스'
 '시민공원' '문화,유적' '거리,골목' '백화점' '섬' '테마공원' '성곽명' '산' '문구,팬시용품' '전시관'
 '캠핑,야영장' '화장품,향수' '상가,아케이드' '아쿠아리움' '국가유산' '쇼핑센터,할인매장' '워터파크' '스케이트장'
 '수영장' '서점' '장난감' '찜질방' '자연공원' '유적지,사적지' '관람,체험' '아이스링크' '선글라스' '사진,스튜디오'
 '인테리어소품' '온천,스파' '광장' '원예,화훼농원' '패션' '한복' '보물' '아울렛' '촬영장소' '미술,공예품' '박물'
 '신발' '눈썰매장' '낚시' '독립서점' '요트' '슈퍼,마트' '스크린골프장' '안경원' '전통공예' '계곡' '종합패션'
 '면세점' '캐주얼웨어' '메이크업' '가방,핸드백' '휴대폰' '피부,체형관리' '가구,인테리어' '컴퓨터,모니터' '한복대여'
 '봉우리,고지' '유기농산물마트' '동물원' '음반,CD' '결혼예물' '스킨스쿠버']

In [273]:
# 자연관광, 역사관광, 체험관광, 테마관광, 문화시설로 분류
# 자연관광
nature_tourism = [
    '식물원,수목원',
    '숲,숲길',
    '자연,생태공원',
    '호수,연못,저수지',
    '강,하천',
    '산',
    '계곡',
    '봉우리,고지',
    '자연공원',
    '동물원', '전망대', '근린공원'
]


# 역사관광
historical_tourism = [
    '궁궐',
    '세계문화유산',
    '국가유산',
    '유적지,사적지',
    '성곽명',
    '보물'
]

# 체험관광
experience_tourism = [
    '체험마을',
    '도보코스',
    '캠핑,야영장',
    '관람,체험',
    '낚시',
    '요트',
    '스킨스쿠버',
    '촬영장소','시민공원', '거리,골목', '섬', '아쿠아리움','원예,화훼농원'
]


# 테마관광
theme_tourism = [
    '도시,테마공원',
    '테마파크',
    '워터파크',
    '스케이트장',
    '수영장',
    '아이스링크',
    '온천,스파',
    '눈썰매장',
    '스크린골프장','테마공원','사진,스튜디오'
]

# 문화관광
cultural_tourism = [
    '박물관',
    '전시관',
    '미술,공예품',
    '전통공예',
    '문화,유적',
    '박물',
    '독립서점','서점', '장난감', '찜질방', '광장'
]


# 쇼핑 및 기타
shopping_and_others = [
    '시장',
    '지역명소',
    '쇼핑복합시설',
    '백화점',
    '문구,팬시용품',
    '상가,아케이드',
    '화장품,향수',
    '쇼핑센터,할인매장',
    '선글라스',
    '인테리어소품',
    '패션',
    '한복',
    '아울렛',
    '신발',
    '메이크업',
    '가방,핸드백',
    '휴대폰',
    '피부,체형관리',
    '가구,인테리어',
    '컴퓨터,모니터',
    '한복대여',
    '종합패션',
    '면세점',
    '캐주얼웨어',
    '유기농산물마트',
    '음반,CD',
    '결혼예물',
    '슈퍼,마트',
    '안경원',
    '기념물' 
]

In [274]:
from collections import Counter

# 관광 유형 리스트들을 하나의 리스트로 합침
all_tourism_types = nature_tourism + historical_tourism + experience_tourism + theme_tourism + cultural_tourism + shopping_and_others

# 원소 등장 횟수를 세기 위해 Counter 객체 생성
tourism_counter = Counter(all_tourism_types)

# 등장 횟수가 2 이상인 원소 출력
overlap_elements = [element for element, count in tourism_counter.items() if count > 1]

if overlap_elements:
    print("겹치는 원소:", overlap_elements)
else:
    print("겹치는 원소가 없습니다.")

겹치는 원소가 없습니다.

In [275]:
# 해당 관광 데이터 프레임 만들기

def tourism_category(tourism):  # 이때 자연, 역사, 체험, 테마 중 선택
    if tourism == '자연':
        nature_info_tourism = all_tourism_info[all_tourism_info['Subclass'].isin(nature_tourism)]
        info = nature_info_tourism
    elif tourism == '역사':
        historical_info_tourism = all_tourism_info[all_tourism_info['Subclass'].isin(historical_tourism)]
        info = historical_info_tourism        
    elif tourism == '체험':
        experience_info_tourism = all_tourism_info[all_tourism_info['Subclass'].isin(experience_tourism)]
        info = experience_info_tourism        
    elif tourism == '테마':
        theme_tourism_info = all_tourism_info[all_tourism_info['Subclass'].isin(theme_tourism)]
        info = theme_tourism_info
    elif tourism == '문화':
        cultural_tourism_info = all_tourism_info[all_tourism_info['Subclass'].isin(cultural_tourism)]
        info = cultural_tourism_info
    elif tourism == '쇼핑 및 기타':
        shopping_and_others_info_tourism = all_tourism_info[all_tourism_info['Subclass'].isin(shopping_and_others)]
        info = shopping_and_others_info_tourism       
    return info

각 중분류(자연, 역사, 체험, 테마, 문화, 쇼핑 및 기타) 별 구별 관광지 갯 수

In [276]:
print('자연\n',tourism_category('자연')[['Attraction','Gu']].nunique())
print('역사\n',tourism_category('역사')[['Attraction','Gu']].nunique())
print('체험\n',tourism_category('체험')[['Attraction','Gu']].nunique())
print('테마\n',tourism_category('테마')[['Attraction','Gu']].nunique())
print('문화\n',tourism_category('문화')[['Attraction','Gu']].nunique())
print('쇼핑 및 기타\n',tourism_category('쇼핑 및 기타')[['Attraction','Gu']].nunique())

자연
 Attraction    54
Gu            21
dtype: int64
역사
 Attraction    20
Gu             9
dtype: int64
체험
 Attraction    39
Gu            17
dtype: int64
테마
 Attraction    48
Gu            16
dtype: int64
문화
 Attraction    66
Gu            18
dtype: int64
쇼핑 및 기타
 Attraction    127
Gu             25
dtype: int64

In [277]:
print('자연\n', tourism_category('자연').groupby('Gu')['Attraction'].nunique())
print('역사\n', tourism_category('역사').groupby('Gu')['Attraction'].nunique())
print('체험\n', tourism_category('체험').groupby('Gu')['Attraction'].nunique())
print('테마\n', tourism_category('테마').groupby('Gu')['Attraction'].nunique())
print('문화\n', tourism_category('문화').groupby('Gu')['Attraction'].nunique())
print('쇼핑 및 기타\n', tourism_category('쇼핑 및 기타').groupby('Gu')['Attraction'].nunique())

자연
 Gu
강동구     2
강북구     1
강서구     1
광진구     1
구로구     2
노원구     2
도봉구     3
동대문구    1
동작구     3
마포구     1
서대문구    1
서초구     4
성동구     3
송파구     4
양천구     2
영등포구    4
용산구     5
은평구     1
종로구     9
중구      1
중랑구     3
Name: Attraction, dtype: int64
역사
 Gu
강남구    1
강동구    2
마포구    2
성동구    1
성북구    1
송파구    1
용산구    1
종로구    8
중구     3
Name: Attraction, dtype: int64
체험
 Gu
강남구      1
강동구      2
광진구      1
금천구      1
노원구      2
도봉구      1
동대문구     1
마포구      4
서초구     10
성동구      1
송파구      2
영등포구     5
용산구      1
은평구      2
종로구      2
중구       2
중랑구      1
Name: Attraction, dtype: int64
테마
 Gu
강남구     1
관악구     2
광진구     6
노원구     4
도봉구     1
마포구     5
서대문구    2
서초구     3
성북구     2
송파구     7
양천구     3
영등포구    1
용산구     2
종로구     3
중구      4
중랑구     2
Name: Attraction, dtype: int64
문화
 Gu
강남구      2
강서구      2
광진구      2
금천구      1
노원구      1
도봉구      1
동대문구     2
마포구      4
서대문구     2
서초구      1
성동구      3
성북구      1
송파구      4
영등포구     1
용산구      5
은평구      1
종로구     23
중구      10
Name: Attraction, dtype: int64
쇼핑 및 기타
 Gu
강남구     13
강동구      2
강북구      2
강서구      4
관악구      3
광진구      4
구로구      5
금천구      1
노원구      1
도봉구      2
동대문구     2
동작구      2
마포구      8
서대문구     3
서초구      4
성동구      3
성북구      2
송파구      6
양천구      3
영등포구     8
용산구      5
은평구      1
종로구     20
중구      21
중랑구      2
Name: Attraction, dtype: int64

In [278]:
print('자연\n',tourism_category('자연')[['Attraction']].nunique())
print('역사\n',tourism_category('역사')[['Attraction']].nunique())
print('체험\n',tourism_category('체험')[['Attraction']].nunique())
print('테마\n',tourism_category('테마')[['Attraction']].nunique())
print('문화\n',tourism_category('문화')[['Attraction']].nunique())
print('쇼핑 및 기타\n',tourism_category('쇼핑 및 기타')[['Attraction']].nunique())

자연
 Attraction    54
dtype: int64
역사
 Attraction    20
dtype: int64
체험
 Attraction    39
dtype: int64
테마
 Attraction    48
dtype: int64
문화
 Attraction    66
dtype: int64
쇼핑 및 기타
 Attraction    127
dtype: int64

리뷰 분석

In [279]:
print(tourism_category('자연')['Good_Point'].nunique())
print()
print(tourism_category('자연')['Good_Point'].unique())

34

['신기한 식물이 많아요' '산책로가 잘 되어있어요' '볼거리가 많아요' '사진이 잘 나와요' '뷰가 좋아요' '화장실이 깨끗해요'
 '편의시설이 잘 되어있어요' '주차하기 편해요' '가격이 합리적이에요' '대중교통이 편해요' '규모가 커요' '아이와 가기 좋아요'
 '피크닉하기 좋아요' '컨셉이 독특해요' '인테리어가 멋져요' '체험 프로그램이 다양해요' '반려동물과 가기 좋아요'
 '야경이 멋져요' '근처에 갈 곳이 많아요' '시설이 깔끔해요' '먹거리가 풍부해요' '경관이 독특해요' '방문객이 많아요'
 '붐비지 않아요' '조용히 쉬기 좋아요' '관리가 잘 되어있어요' '코스가 길어요' '자연 경관이 좋아요' '유익해요' '친절해요'
 '트렌디해요' '동물 관리가 잘 되어있어요' '놀이기구가 다양해요' '대기시간이 짧아요']

In [280]:
nature_review_categories = {
    "자연 경관/경관 관련": ["신기한 식물이 많아요", "뷰가 좋아요", "야경이 멋져요", "경관이 독특해요", "자연 경관이 좋아요"],
    "시설/편의성 관련": ["산책로가 잘 되어있어요", "화장실이 깨끗해요", "편의시설이 잘 되어있어요", "주차하기 편해요", "대중교통이 편해요", "시설이 깔끔해요", "관리가 잘 되어있어요", "인테리어가 멋져요"],
    "가격 관련": ["가격이 합리적이에요"],
    "가족/어린이 관련": ["아이와 가기 좋아요", "피크닉하기 좋아요", "반려동물과 가기 좋아요", "놀이기구가 다양해요"],
    "활동/체험 관련": ["볼거리가 많아요", "체험 프로그램이 다양해요"],
    "환경/분위기 관련": ["붐비지 않아요", "조용히 쉬기 좋아요", "유익해요", "친절해요", "트렌디해요", "컨셉이 독특해요", "인테리어가 멋져요"],
    "기타": ["규모가 커요", "방문객이 많아요", "코스가 길어요", "동물 관리가 잘 되어있어요", "대기시간이 짧아요", "먹거리가 풍부해요",'사진이 잘 나와요']
}

# 데이터프레임 생성
df = pd.DataFrame.from_dict(nature_review_categories, orient='index').transpose()

# 결과 출력
df

,자연 경관/경관 관련,시설/편의성 관련,가격 관련,가족/어린이 관련,활동/체험 관련,환경/분위기 관련,기타
0,신기한 식물이 많아요,산책로가 잘 되어있어요,가격이 합리적이에요,아이와 가기 좋아요,볼거리가 많아요,붐비지 않아요,규모가 커요
1,뷰가 좋아요,화장실이 깨끗해요,None,피크닉하기 좋아요,체험 프로그램이 다양해요,조용히 쉬기 좋아요,방문객이 많아요
2,야경이 멋져요,편의시설이 잘 되어있어요,None,반려동물과 가기 좋아요,None,유익해요,코스가 길어요
3,경관이 독특해요,주차하기 편해요,None,놀이기구가 다양해요,None,친절해요,동물 관리가 잘 되어있어요
4,자연 경관이 좋아요,대중교통이 편해요,None,None,None,트렌디해요,대기시간이 짧아요
5,None,시설이 깔끔해요,None,None,None,컨셉이 독특해요,먹거리가 풍부해요
6,None,관리가 잘 되어있어요,None,None,None,인테리어가 멋져요,사진이 잘 나와요
7,None,인테리어가 멋져요,None,None,None,None,None

In [281]:
nature = tourism_category('자연')
nature[:2]

,Attraction,Category,Subclass,Address,Gu,Good_Point,Selected_People,Participants
14,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,신기한 식물이 많아요,2870,5204.0
15,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,산책로가 잘 되어있어요,2757,5204.0

In [282]:
# Good_Point_categories 컬럼 초기화
Good_Point_categories = []

# 각 Good_Point가 데이터프레임에 있는지 확인하고, 있다면 카테고리를 Good_Point_categories 리스트에 저장
for Good_Point in nature['Good_Point']:
    categories_found = []
    for category in df.columns:
        if Good_Point in df[category].values:
            categories_found.append(category)
    Good_Point_categories.append(', '.join(categories_found))

# 새로운 열로 추가
nature['Good_Point_categories'] = Good_Point_categories

C:\Users\82108\AppData\Local\Temp\ipykernel_8220\3713505427.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nature['Good_Point_categories'] = Good_Point_categories

In [283]:
sum_category =nature.groupby(['Attraction','Good_Point_categories'])['Selected_People'].sum().reset_index()
sum_category.rename(columns = {	'Selected_People':'sum_category_Selected_People'}, inplace = True)

In [284]:
sum_selected_People =nature.groupby(['Attraction'])['Selected_People'].sum().reset_index()
sum_selected_People.rename(columns = {'Selected_People':'sum_selected_People'}, inplace = True)

In [289]:
df_nature = pd.merge(nature,sum_category , on=['Attraction','Good_Point_categories'])
df_nature = pd.merge(df_nature,sum_selected_People, on=['Attraction'])
df_nature['one_attraction_selected_ratio'] = df_nature['sum_selected_People']/df_nature['Participants']

In [290]:
df_nature.

,Attraction,Category,Subclass,Address,Gu,Good_Point,Selected_People,Participants,Good_Point_categories,sum_category_Selected_People,sum_selected_People,one_attraction_selected_ratio
0,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,신기한 식물이 많아요,2870,5204.0,자연 경관/경관 관련,3734,13603,2.613951
1,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,뷰가 좋아요,864,5204.0,자연 경관/경관 관련,3734,13603,2.613951
2,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,산책로가 잘 되어있어요,2757,5204.0,시설/편의성 관련,5274,13603,2.613951
3,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,화장실이 깨끗해요,841,5204.0,시설/편의성 관련,5274,13603,2.613951
4,서울식물원,관광,"식물원,수목원",서울특별시 강서구 마곡동로 161 서울식물원,강서구,편의시설이 잘 되어있어요,715,5204.0,시설/편의성 관련,5274,13603,2.613951
...,...,...,...,...,...,...,...,...,...,...,...,...
796,마천공원,관광,근린공원,서울특별시 송파구 성내천로23길 12,송파구,산책로가 잘 되어있어요,2,19.0,시설/편의성 관련,9,32,1.684211
797,마천공원,관광,근린공원,서울특별시 송파구 성내천로23길 12,송파구,편의시설이 잘 되어있어요,1,19.0,시설/편의성 관련,9,32,1.684211
798,마천공원,관광,근린공원,서울특별시 송파구 성내천로23길 12,송파구,볼거리가 많아요,2,19.0,활동/체험 관련,2,32,1.684211
799,마천공원,관광,근린공원,서울특별시 송파구 성내천로23길 12,송파구,친절해요,1,19.0,환경/분위기 관련,2,32,1.684211
800,마천공원,관광,근린공원,서울특별시 송파구 성내천로23길 12,송파구,붐비지 않아요,1,19.0,환경/분위기 관련,2,32,1.684211